@import "../../Styles/variables.scss";

.container__about--right {
    color: $white;
    display: grid;
    grid-column: span 2;
    place-items: center;
    max-width: 800px;
    padding: $padding * 2;
};