@import '../../Styles/variables.scss';

.container__recent--search {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: $padding * 2;
  
  .all--items {
    display: grid;
    grid-gap: $padding;
  }
}