@import '../../../../Styles/variables.scss';

.btn--dropdown {
  text-transform: none !important;
  color: $blue !important;
  font-weight: 400 !important;

  svg {
    margin-left: $padding / 2 !important;
  }
}

.MuiList-padding {
  padding: 0 !important;
}