@import '../../Styles/variables.scss';

.container__aside--nav--all {
  position: relative;
}

.container__aside--nav--color {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $purple;
  z-index: -999;
}

.container__aside--nav {
  height: 100%;
  width: 100%;
  display: grid;
  padding: $padding;
  grid-gap: $padding * 2;
  grid-template-rows: 1fr auto;
  background-color: $light-grey;
  border-top-right-radius: $big-radius * 1.25;
  border-bottom-right-radius: $big-radius * 1.25;
  box-shadow: 3px 1px 30px 2px $black-opacity25;

  .container__items {
    display: grid;
    grid-gap: $padding * 2;
  }

  .item {
    display: grid;
    grid-auto-flow: row;
    grid-gap: $padding / 2;
    padding: $padding;
    border-radius: 50%;
    transition: all 0.15s ease-in-out;
    cursor: pointer;

    .container--svg {
      width: 100%;
      // aspect-ratio: 1/1;
      display: grid;
      place-items: center;
      background-color: none;
      border-radius: $small-radius;
    }

    svg {
      fill: $blue;
    }

    label {
      text-align: center;
    }
  }
}

#nav--Search,
#nav--Stacks,
#nav--About {
  fill: $black;
}

#nav--Login {
  fill: $success;
}

#nav--Logout {
  fill: $danger;
}