@import './variables.scss';
@import './mixins.scss';

.container__all {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;

  @include desktop-sm  {
    width: 100%;
    height: 100%;
  }
}

.container__main {
  background-color: $light-grey;

  @include desktop-sm  {
    overflow-y: scroll;
  }
}

.container__title-pane {
  background-color: $white;
  padding: $padding * 2;
  color: $black;
  font-size: $big-font-size / 2;
  font-weight: bold;
}

.card {
  background-color: $medium-grey;
  padding: $padding * 2;
  color: $black;
  border-radius: $small-radius;
  margin: 40px;
}