@import './variables.scss';

.container__all {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.container__main {
  background-color: $light-grey;
  overflow-y: scroll;
}

.container__title-pane {
  background-color: $white;
  padding: $padding * 2;
  color: $black;
  font-size: $big-font-size / 2;
  font-weight: bold;
}

.card {
  background-color: $medium-grey;
  padding: $padding * 2;
  color: $black;
  border-radius: $small-radius;
  margin: 40px;
}