.css-2awovp-MuiCardContent-root:last-child {
  padding-bottom: 16px !important;
}
.css-k5d7cp-MuiCardContent-root:last-child {
  padding-bottom: 16px !important;
}

.css-1spq9as-MuiTypography-root {
  line-height: 1 !important;
  letter-spacing: 0.04em !important;
  padding-top: 0 !important;
}