@import './variables.scss';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: Roboto, sans-serif;
  font-size: $font-size;
  color: $blue;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

*, ::after, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


*::selection {
  color: white;
  background-color: $blue;
}

*::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  
  &:visited {
    color: $blue;
  }

  &:active {
    color: $blue;
  }
}

input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: inherit;
  font-family: inherit;

  &:focus {
    outline: none;
  }
}

button {
  background-color: $white;
  font-family: inherit;
  font-size: inherit;
}

#root {
  height: 100vh;
  width: 100vw;
}