$font-size: 13px;
$big-font-size: 65px;

$padding: 13px;

$purple: rgb(96, 7, 121);
$blue: rgb(0, 41, 103);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$light-grey: rgb(246, 247, 254);
$medium-grey: rgb(228, 238, 254);
$dark-grey: rgb(151, 164, 184);

$big-radius: 30px;
$medium-radius: 20px;
$small-radius: 10px;