@import "../../Styles/variables.scss";

.container__form--bg {
  display: grid;
  place-items: center;
  height: 100%;

  .container__form--all {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: $padding;
    place-items: center;

    .title--form {
      display: block;
      padding: $padding * 2;
    }

    .container__links--all {
      display: grid;
      place-items: center;
      grid-gap: $padding;
      padding: $padding * 2;
    }
  }
}