@import '../../Styles/variables.scss';

.container__dashboard--all {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: $padding * 2;
  grid-gap: $padding * 2;
}

.container__dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $padding * 2;
}