@import '../../Styles/variables.scss';
@import '../../Styles/mixins.scss';

.container__dashboard--all {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: $padding * 2;
  grid-gap: $padding * 2;
}

.container__dashboard {
  display: grid;
  grid-gap: $padding * 2;

  @include phone {    
    grid-template-columns: 1fr;
  }
  @include desktop-sm  {    
    grid-template-columns: repeat(2, 1fr);
  }
}