@import '../../Styles/variables.scss';

.container__header {
  display: flex;
  justify-content: space-between;
  padding: $padding * 2;
}

.container__subnav {
  display: grid;
  place-items: center;

  ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: $padding;
  }
}

.container__user--informations {
  display: grid;
  grid-auto-flow: column;
  grid-gap: $padding;

  & * {
    display: grid;
    place-items: center;
  }
}

#header--Notifications,
#header--Settings {
  stroke: $blue;
}