@import '../../Styles/variables.scss';

.container__header {
  display: flex;
  justify-content: space-between;
  padding: $padding * 2;
}

.container__subnav {
  display: grid;
  place-items: center;

  ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: $padding * 2;
    font-weight: 500;
  }
}

.container__user--informations {
  display: grid;
  grid-auto-flow: column;
  grid-gap: $padding * 2;

  & * {
    display: grid;
    place-items: center;
  }
}

#header--Notifications,
#header--Settings,
#header--Arrow---Down-2 {
  stroke: $blue;
}