@import '../../../Styles/variables.scss';
@import '../../../Styles/mixins.scss';

.desktop--header {
  @include phone  {
    position: sticky !important;
    top: 0 !important;
    display: none !important;
  }
  @include tablet-xs  {
    position: sticky !important;
    top: 0 !important;
    display: none !important;
  }
  @include tablet-ls  {
    display: block !important;
  }
}

.desktop--mobile {
  @include phone  {
    position: sticky !important;
    top: 0 !important;
    display: block !important;
  }
  @include tablet-xs  {
    position: sticky !important;
    top: 0 !important;
    display: block !important;
  }
  @include tablet-ls  {
    display: none !important;
  }
}

#header--Notifications,
#header--Settings,
#header--Arrow---Down-2 {
  stroke: $white;
}