@import '../../../../Styles/variables.scss';

.avatar--color {
  background-color: $blue !important;
  height: 35px !important;
  width: 35px !important;
  font-size: 18px !important;
  font-weight: 500 !important;
}