@import '../../../Styles/variables.scss';


.form__container--slogin{
  display: flex;
  justify-content: center;
  margin: 8% 8% 8% 3%;
  padding: 7%;

  .container__email--signup{
    margin-bottom: 40px;
  }
  .container__password--signup{
    margin-bottom: 40px;
  }
  input{
    display: flex;
    height: 30px;
    padding: $padding;
  }
  
}