@import "../../../Styles/variables.scss";

.form__container--company {
  display: flex;
  justify-content: center;
  margin: 8% 8% 8% 3%;
  padding: 10%;

  label {
    color: $blue;
    font-weight: 600;
    font-size: $font-size * 2;
    text-align: center;
  }

  input {
    display: flex;
    height: 50px;
    margin-bottom: 20px;
    border: solid 3px $blue;
    border-radius: 10px;
    padding: $padding;
  }
  
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    width: 65%;
    height: 10%;
    background-color: $blue;
    border-radius: 10px;
    font-size: 1.2rem;
  }

  button:hover {
    background: $white;
    color: $blue;
    border-radius: 12.5px;
    transition: all 0.2s ease-out;
  }
}
