@import "../../../Styles/variables.scss";
@import "../../../Styles/mixins.scss";

.container__presentation {
  position: sticky;
  top: $padding * 2;
}

.dashboard--informations {
  display: grid;
  grid-gap: $padding * 4;
}

.edit--container--form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $padding * 2;

  @include phone {    
    grid-template-columns: 1fr;
  }

  .item--input {
    display: grid;
    grid-gap: $padding / 2;
  }

  .container--cta {
    margin-top: 30px;
    display: grid;
    place-items: center;
  }  
}
