@import "../../../Styles/variables.scss";

.edit-container--form {
  display: grid;
  place-items: center;
  margin-bottom: 20px;
  margin-left: 200px;
  
  .container--cta {
    margin-top: 30px;
    display: grid;
    place-items: center;
  }
  
}

.container--chips{
  display: flex;
  
  width: 18vw;
  padding: 12px;
  border-radius: 5px;
  background-color: $purple;
}

